<div class="container mt-4">
  <h2>Relatório de Remédios Mais Vendidos</h2>

  <%= form_tag top_medications_reports_path, method: :get, class: "mb-4" do %>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= label_tag :start_date, "Data Inicial" %>
          <%= date_field_tag :start_date, @start_date, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= label_tag :end_date, "Data Final" %>
          <%= date_field_tag :end_date, @end_date, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= label_tag :submit, "&nbsp;".html_safe %>
          <%= submit_tag "Filtrar", class: "btn btn-primary form-control" %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Posição</th>
          <th>Remédio</th>
          <th>Total de Vendas</th>
        </tr>
      </thead>
      <tbody>
        <% @top_medications.each_with_index do |medication, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= medication.medication.name %></td>
            <td><%= medication.total_sales %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div> 